<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2"/>
      <httpRuntime targetFramework="4.5.2"/>
      <pages>
        <namespaces>
          <add namespace="System.Web.Optimization" />
        </namespaces>
        <controls>
          <add assembly="Microsoft.AspNet.Web.Optimization.WebForms"       namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        </controls>
      </pages>
    </system.web>
  <connectionStrings>
    <add name="dbconnectionPart1" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="'/>
    <add name="dbconnectionPart2" connectionString='\DataBase\StudentPortalDB.mdf";Integrated Security=True;Connect Timeout=30'/>
  </connectionStrings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
